body {
    margin: 0;
}

.section_1 {

    background-image: url(donation_1.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 500px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#spacing{
    padding-bottom: 40px;
}

.first_align {
    text-align: center;
    color: white;
    padding: 60px 0px 140px 0px;
}

.button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(255, 70, 70);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.flexible{
    display: flex;
}

.flex_column{
flex-direction: column;
text-align: center;
}

.width_share{
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    background-color:rgba(250, 245, 245, 0.616);
}

.center{
    margin: auto;
}

.mark{
background-color: rgba(255, 195, 195, 0.712);
border: 1px solid rgb(255, 70, 70);
color: rgb(255, 70, 70);
}

.input{
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
}